@media all and (min-width: 576px) {
  .nav-menu {
    width: 50%;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
}
@media all and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .header__links {
    display: block;
  }
}
@media all and (min-width: 992px) {
  
}
@media all and (min-width: 1200px) {

}
@media all and (min-width: 1200px) {
 
}
@media all and (min-width: 1400px) {
  
}