@media all and (min-width: 576px) {
  .nav-menu {
    width: 50%;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
}
@media all and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .header__links {
    display: flex;
  }
  .header-content__caption {
    max-width: 45rem;
  }
  .nav-menu {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .header__links {
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .header__link {
    display: block;
  }
  .header__link-icon {
   display: none;
  }
  .header-content__title {
    font-size: 3rem;
    max-width: 25rem;
  }
}
@media all and (min-width: 1200px) {
  .menu__item {
    margin-right: 4rem;
  }
}
@media all and (min-width: 1400px) {
  
}